@font-face {
    font-family: "Cabin-bold" ;
    src: url("./fonts/CabinCondensed-Bold.ttf");
}
*{
    margin: 1rem;
    padding: 0.8rem;                
    box-sizing: border-box;
    font-family: Cabin-bold;
}

.header img:hover{
    transform: scale(1.2);
}
    
body {
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    background-color: black;
    min-height: 100vh;
    width: 100%;
    }

main{
    width: 100%;
    background-image: url(img/fondo2.jpg);
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    background-size: cover;
}


h1 {
    color: #323C3D;
    font-size: 5rem;
    text-align: center;
}
.h1:hover{
    color:brown;
}
h2{
    color: #323C3D;
    font-size: 3rem;
    text-align: center;
}
h3{
    font-size: 2rem;
}
#distri{
    color: white;
}
.header-1{
    background-color: white;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.hero-1{
    background-image: url(./img/fondo-jarra.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}


.hero-2{
    background-image: url(./img/hero2.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.hero-3{
    background-image: url(./img/hero3.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}
.main-sec{
    color: aliceblue;
}
.history{
    font-size: 2rem;
}
.logo{
    width: 5rem;
    margin-right: auto;
}
.nav{
    color: white;
    display: flex;
    justify-content: center;

}

.menu{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.item:hover{
    color: brown;
    font-size: 1.5rem;
}

a{
    color: white;
    text-decoration: none;
}
.intro{
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero{
    background-color: none;
}



.nosotros{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.parraf{
    color: white;
    font-size: 2.1rem;
}
.ciudad{
    color: aliceblue;
    display: flex;
    justify-content: center;
    color: white;
}
.fotos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 
}
.fotos-sanrafael{
    display: flex;
    padding: 0.2rem;
    justify-content: center;
    flex-direction: column;
}
.fotos img{
    width: 600px;
    height: 400px;
    margin-right: 5px;
}

.link{
    color: brown;
}
h2{
    color: hsl(0, 0%, 92%);
}

.fabricas{
    display: flex;
    justify-content: center;
    color: white;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.fabitems{
    color: aliceblue;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-image: url(./img/fondo3.jpg);
    background-size: cover;
    padding: 0;
    margin: 0;
    background-color:hsl(0, 0%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContact{
    background-image: url(img/paquete-vidrio-cerveza.jpg);
    width: 50%;
    margin: auto;
}
.formItem{
    color: white;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}
.iconos{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-bottom: 2px;
}
.iconos li{
    margin-bottom: 1px;
    font-size: 1rem;
    margin-top: 1px;
    padding-top: 1px;
}
.fab:hover{
    transform: scale(1.2);
}
.logoCierre{
float: left;

}
.copy{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite; 
}
.cierre{
 color: antiquewhite;   
}
.main-catalogo{
    background-image: none;
    background-color: black;
}
.catalogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*podemos usar repetat (12,1fr) 12: veces 1fr: valor*/
    grid-template-rows: 0,5fr 1fr 1fr;
    grid-template-areas: 
    
    "grilla-catalogo grilla-catalogo grilla-catalogo"
    "producto1 producto2 producto3"
    "producto4 producto5 producto6";
 }
 .grilla-catalogo{
    grid-area: grilla-catalogo;
    list-style-type: none;
    flex-direction: row;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content: space-evenly;
    display: flex;
 }
 .prod{
    color: aliceblue;
 }
 .producto1{
    grid-area: producto1;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;

 }
 .producto2{
    grid-area: producto2;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
 }
 .producto3{
    grid-area: producto3;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
 }
 .producto4{
    grid-area: producto4;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
 }
 .producto5{
    grid-area: producto5;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
 }
 .producto6{
    grid-area: producto6;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
 }
 
 .lista-fabricas{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    list-style-type: none;
    flex-direction: row;
    font-size: 3rem;
    color: rgb(7, 7, 78);
}
.fabb{
    color: aliceblue;
}
.fabb:hover{
    transform: scale(1.2);
    color: brown;
}
.cerveza:hover{
    transform: scale(1.2);
    color: brown;
}

 .catalogo img{
    width: 150px;
    display: inline-block;
    margin-right: 5px;
}
.catalogo img:hover{
    transform: scale(1.2);
}
 .producto1, .producto2, .producto3, .producto4, .producto5, .producto6 {
    flex:1;
    margin: 10px;
    max-width: 100%;
 }
 .custom-footer {
    height: 60px; 
}


.custom-footer .text-center p {
    margin-bottom: 5px; 
}


.custom-footer .text-center p.d-flex {
    margin-bottom: 5px; 
}



  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .header-1{
        width: 100%;
    }
  }
  
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .nav{
        width: 100%;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .container-fluid{
        width: 100%;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    main{
        width: 80vh;
        background-color: rgba(0, 0, 0, 0.662);
        background-image: none;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
    }
    }
 
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    h2{
        width: 100%;
        max-width: 760px;
        color: aliceblue;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .foto-main{
        width: 50vh;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .foto-sr{
        width: 50vh;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .hero-2{
       background-image: linear-gradient(to right, black, rgb(37, 2, 98));
       max-height: 50vh;
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .lista-fabricas{
       display: none;
   
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .marcas{
        flex-direction: column;
        width: 90%;
        justify-content: center; 
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .catalogo{
        display: grid;
        grid-template-columns: 1fr; /*podemos usar repetat (12,1fr) 12: veces 1fr: valor*/
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        
        "producto1"
        "producto2"
        "producto3"
        "producto4"
        "producto5"
        "producto6";
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .main-catalogo{
        width: 100%;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 760px) {
    .footer{
        flex-direction: column;
        width: 100%;
        justify-content: center; 
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .img-foot{
        width: 40%;
    }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .titulo {
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .ciudad {
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
    .fotos {
        display: none;
    }
}